	/*font*/

	/*style*/
	
	/*position and size*/

/*google font*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');


/*standard html elements*/
html { 
  background: url('../images/background.jpg') no-repeat center center fixed; 
  background-size: cover;
}
p{
	line-height: 150%;
}
h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.2em;
	margin-bottom: 15px;
	padding-bottom: 7px;
	border-bottom: solid 1px #ff9999;
}
strong{
	font-weight: 600;
}


/*class and id specific*/
.paperIntro{
	text-align: right;
	font-size: .8em;
	line-height: 125%;
	margin-bottom: 30px;
}

#intro, #reportCard{
	/*font*/
	font-family: 'Open Sans', sans-serif;

	/*style*/
	background-color: #fff;
	box-shadow: 0px 0px 70px 3px rgba(0,0,0,1);

	/*position and size*/
	width: 550px;
	height: 800px;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}
#reportCard{
	display: none;
}
#intro h1{
	font-weight: 600;
	font-size: 2em;
	text-align: center;
	margin-bottom: 20px;
}
button{
	/*font*/
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	color: #fff;
	font-weight: 300;

	/*style*/
	outline: none;
	border-radius: 5px;
	border: none;
	background-color: #2980B9;

	/*position and size*/
	margin-top: 70px;
	margin-left: 230px;
	padding-left: 15px;
	padding-right: 15px;
}
button:hover{
	background-color: #3498DB;
}
button:active{
	background-color: #206591;
}

#timer{
	/*font*/
	text-align: center;
    color: #F3FFE2;
	font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;

	/*style*/
	display: none;
	/*background-color: #1695A3;
*/	box-shadow: 0px 0px 70px 3px rgba(0,0,0,1);
	border-radius: 0px 0px 3px 4px;

	/*position and size*/
	margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 35px;
    padding-top: 6px;
}

#card{
	display: none;

	/*font*/
	font-family: 'Open Sans', sans-serif;

	/*style*/
	background-color: #fff;
	box-shadow: 0px 0px 70px 3px rgba(0,0,0,1);
	border-radius: 6px;

	/*position and size*/
	width: 550px;
	height: 300px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}
#question{
	margin-bottom: 20px;
}
#choiceResult{
	display: none;
	font-size: 1.2em;
	padding: 10px;
	text-align: center;
	border-radius: 3px;
}
.choice{
	background-color: #f2f2f2;
	margin-bottom: 5px;
	padding-left: 10px;
}
.choice:hover{
	background-color: #cceeff;
}
.choice:active{
	background-color: #ffb380;
}
#options p{
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.questionResult{
	padding-left: 10px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px #cce0ff;
}
.total{
	padding-left: 10px;
	margin-top: 25px;
}

/*appended css*/
.correctChoice{
	color: #fff;
	background-color: #47d147;
}
.incorrectChoice{
	color: #fff;
	background-color: #ff0000;
}
.normal{
	background-color: #1695A3;
}
.warning{
	transition: 3s;
	background-color: #ff6600;
}
.critical{
	transition: 3s;
	background-color: #ff0000;
}

